<div class="container">


	<div class="row">
		<div class="col-md-12">
			<h1>About Us Page</h1>
			<div class="jumbotron">
				<p>People say that one of the best ways to make a small fortune is to take a large fortune and start a restaurant. It's
					a cute one liner and unfortunately it's based in truth.</p>

				<p>The scary statistic is that 60% of restaurants close within the first year of operation.</p>

				<p>Part of this is because Restaurateurs tend to be passionate about their food, but not savvy about business.</p>

				<p>At res.req we want to help you with some of those business aspects so that you can concentrate on what you love, food.
					Lack of advertisement is listed in the top 10 reasons restaurants fail. With res.req you will take your advertisement
					online to create an engaging and interactive web experience available to home and mobile users.</p>

				<p>85% of Mobile users searching for restaurants will visit within one hour. Mobile users top three reasons for searching
					online is to find nearby places, phone numbers, and directions to your restaurant.</p>

				<p>60% of tablet or home computer users are looking for reviews, coupons, or browsing your menu.</p>

				<p>With res.req you can use our simple tools to create a professional and mobile responsive (it looks good on a smart phone)
					website.
				</p>

				<p>res.req lets you meet the needs of people searching for you to get them in your door. With res.req you can... Create
					and display your menu Show your location and provide a clickable phone number and directions Take reservations Allow
					users to review and see reviews of your food and experience. At res.req our passion is helping you fulfill your passion.</p>

			</div>
		</div>
	</div>
</div>