{{!-- base files for star rating functionality--}}
<link rel="stylesheet" href="/css/star-rating.css">
<script src="/js/star-rating.js"></script>
<script src="/js/review.js"></script>

{{!--
<p><input id="input-id" type="text" class="rating input-star" data-size="xs"></p>--}}

<div class="row">
	<div class="col-md-12">
		<h1>Reviews</h1>
	</div>
</div>

<div class="row">
	<div style="margin-top:30px;padding: 5px;" class="col-md-8">
		<ul id="reviewsArea" class="list-group">

		</ul>
	</div>

	<div style="margin-left:10px; padding:5px;" class="col-md-3">
		<h4>More Business Info</h4>
		<ul id="moreInfoArea" class="list-group">
			<li class="list-group-item">
				Takes Reservations: <span id="reserveShow"></span>
			</li>
			<li class="list-group-item">
				Delivery: <span id="deliveryShow"></span>
			</li>
		</ul>
		<button id="editMoreBusinessInfo" type="button" class="btn btn-default btn-sm">Edit More Business Info</button>			
	</div>

</div>

<div class="row">
	<h3>Your Review</h3>
	<form style="border: solid 1px lightgray; padding: 20px;border-radius: 5px;">
		<div class="form-group row">
			<label class="col-sm-1 col-form-label" for="reviewerName">Name</label>
			<div class="col-sm-11">
				<input type="text" class="form-control" id="reviewerName" placeholder="Enter Name">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label" for="reviewRating">Rating</label>
			<div class="col-sm-11">
				<input type="text" id="reviewRating" class="kv-gly-heart rating-loading" data-size="xs"><span style="margin-left: 10px; margin-top: 5px;">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-1 col-form-label" for="reviewComments">Enter Comments</label>
		<div class="col-sm-11">
    		<textarea class="form-control" id="reviewComments" rows="3"></textarea>
		</div>
	</div>
	<div class="form-group row">
      <div class="pull-right col-sm-1">
        <button id="reviewSubmit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
	</form>

	<div id="editBusInfoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit More Business Info</h4>
      </div>
      <div  class="modal-body">
		  <label for="busInfo-reserve">Reservations?</label>
        <input id="busInfo-reserve" class="form-control"></input>
		<label for="busInfo-delivery">Delivery?</label>
		<input id="busInfo-delivery" class="form-control"></input>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveBusinessInfo" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<br><br><br><br>
	
</div>