<link rel="stylesheet" href="/css/homepage.css">
<script type="text/javascript" src="../js/index-homepage.js"></script>


<div id="mainRow" class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center" id="main-title">Create. Market. Win.</h1>
				<h3 class="text-center">The path to a successful business</h2>
				<br>
				<div id="flex-header-box">
					<a id="btn-select" class="btn btn-default btn-lg fb-button" role="button">Your Restaurants</a>
					<a href="/about" id="btn-about" class="btn btn-default btn-lg fb-button" role="button">Why Restaurants Need a Website</a>
					<a href="/contact" id="btn-contact" class="btn btn-default btn-lg fb-button" role="button">Contact Us</a>
					<a href="/allRes" id="btn-see-all" class="btn btn-default btn-lg fb-button" role="button">See Examples</a>
				</div>
				{{!--<p class="text-center"><a id="btn-select" class="btn btn-default btn-lg fb-button" role="button">Your Restaurants</a></p>
				<p><a id="btn-about" class="btn btn-default btn-lg" role="button">Why Restaurants Need a Website</a></p>
				<p><a id="btn-contact" class="btn btn-default btn-lg" role="button">Contact Us</a></p>--}}
			</div>
		</div>
	</div>
</div>