<div class="row">
	<div class="col-md-12">
		<h1>Admin Restaurant Selection</h1>
		<div class="jumbotron">
			<h2>How it works</h2>
			<p>RES.REQ works by allowing an administrator to input data for his or her restaurant. This data then creates a table for that admin that will hold the primary key for the entire system.</p>
			<p>
That primary key will serve as the foreign key for children tables like events, menu, reservations, hours, and reviews.
Data flow can be described using out reservation creator. The admin (restaurant owner) can input days, times, durations, and number of reservations to take. That data is ‘put’ on the reservations database connected to that admin’s id. From there we ‘get’ the data to create buttons that the end user would see to create a reservation after entering a name and email. That data is then put into another database that we ‘get’ and show back to the admin. Basically data ping pong between our end user and our admin.</p>
<p>The tricky part is that we are actually making two different websites; one for an admin, and then one for the end user who will be shopping for restaurants. Handlebars on the back end helps so that there are relatively few static html pages to serve.</p>
		</div>
		<!--<div class="jumbotron">
			<div id="entry-template" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Restaurant Information</h3>
				</div>
				<div id="restaurant-info" class="panel-body">
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Create a New Restaurant</h3>
				</div>
				<div class="panel-body">
					<p>Add your restaurant information below.</p>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="form-group">
							<label for="name">Name</label>
							<input class="form-control" id="name" placeholder="Restaurant Name">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="address">Address</label>
							<input class="form-control" id="address" placeholder="Restaurant Address">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="phone">Phone</label>
							<input class="form-control" id="phone" placeholder="Restaurant Phone">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="hours">Hours</label>
							<input class="form-control" id="hours" placeholder="Restaurant Hours">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="email">Email </label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
					</li>
					<li class="list-group-item text-center"> <button type="submit" id="create" class="btn btn-default">Create</button></li>
				</ul>
			</div>
		</div>-->
	</div>
</div>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='../../js/login-hb.js'></script>
<script src='../../js/login.js'></script>
<script type="text/javascript" src="../../js/select.js"></script>-->