<div class="row">
	<div class="col-md-12">
		<h1>Admin Restaurants Page</h1>
		<div class="jumbotron">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Create a New Restaurant</h3>
				</div>
				<div class="panel-body">
					<p>Add your restaurant information below.</p>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="form-group">
							<label for="name">Name</label>
							<input class="form-control" id="name" placeholder="Restaurant Name">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="address">Address</label>
							<input class="form-control" id="address" placeholder="Restaurant Address">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="phone">Phone</label>
							<input class="form-control" id="phone" placeholder="Restaurant Phone">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="hours">Hours</label>
							<input class="form-control" id="hours" placeholder="Restaurant Hours">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="email">Email </label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
					</li>
					<li class="list-group-item text-center"> <button type="submit" id="create" class="btn btn-default">Create</button></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='../../js/login-hb.js'></script>
<script src='../../js/login.js'></script>
<script type="text/javascript" src="../../js/select.js"></script>-->