<div class="row">
	<div class="col-md-12">
		<h1>Admin Restaurants Page</h1>
		<div class="jumbotron">
			<div id="entry-template" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Restaurant Information</h3>
				</div>
				<div id="restaurant-info" class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='../../js/login-hb.js'></script>
<script src='../../js/login.js'></script>
<script type="text/javascript" src="../../js/select.js"></script>-->